<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration 
    SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="fidem">
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">org.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://127.0.0.1:3306</property>
        <property name="hibernate.connection.username">fromasra_root</property>
        <property name="hibernate.connection.password">str0ng</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.validator.autoregister_listeners">false</property>
        <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
    </session-factory>
</hibernate-configuration>